html {
  background-image: url('../img/salmon.png'); 
  background-color: rgb(238, 147, 11);
  background-size: 50%
}

h1 {
  background-color: white;
  text-align: center;
}

div {
  background-color: white;
}

nav {
  background-color: white;
}

table, th, td {
  border: 1px solid black;
  background-color: white;
}

form {
  background-color: white;
}